<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace=fragments::html_head"></head>
<body>
<nav th:replace=fragments::menu"></nav>
<div class="forms">
  <h3>Nuevo Dispositivo</h3>
   <form th:action="@{/userdevices/store}" th:object="${userdevice}" method="POST">
       <div class="row">
           <div class="col">
                 <label class="form-label">Dispositivo</label>
                 <select class="form-control" th:field="*{deviceCatalog}">
                  <option th:each="device: ${devices}"
                          th:text="${device.modelo_dispositivo}"
                          th:value="${device.id_dispositivo}"></option>
                </select>
           </div>
           <div class="col">
                <label class="form-label">Usuario</label>
                <select class="form-control" th:field="*{usuario}">
                  <option th:each="user: ${users}"
                          th:text="${user.nam}"
                          th:value="${user.usr}"></option>
                </select>
           </div>
           <div class="col">
            <label class="form-label">ID Detectado</label>
            <input type="text" class="form-control" th:field="*{id_detectid}"/>
           </div>
            <div class="col">
                  <label class="form-label">Estado ID Detectado</label>
                  <input type="text" class="form-control" th:field="*{estado_detectid}"/>
            </div>
       </div>
       <div class="row">
          <div class="col">
              <label class="form-label">Estado de Mantenimiento</label>
              <input type="text" class="form-control" th:field="*{estado_mantenimiento}"/>
          </div>
          <div class="col">
            <label class="form-label">Nombre Dispositvo</label>
            <input type="text" class="form-control" th:field="*{nombre_dispositivo}"/>
          </div>
          <div class="col-6  form__button">
            <button type='submit' class='btn btn-primary'>Store</button> 
          </div>
      </div>
   </form>
</div>


<script src="https://getbootstrap.com/docs/5.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>