<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Mantemiento de Usuarios</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta name="theme-color" content="#7952b3">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

    </style>

    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/5.0/examples/offcanvas-navbar/offcanvas.css" rel="stylesheet">
</head>
<body>
  <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" aria-label="Main navigation">
    <div class="container-fluid">
      <a  class="navbar-brand">Mantenimiento de Usuarios</a>
      <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" aria-label="Toggle navigation"  >
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  th:href="@{/}">Usuarios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  th:href="@{/devices}">Catalago de Dispositivos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  th:href="@{/devices}">Dispositivos de Usuarios</a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto link-light">
          <li class="nav-item" >
              <a  class="nav-link">Login</a>
          </li>
          <li class="nav-item" >
              <a  class="nav-link">Register</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<div class="row" style="margin: 1% 5%;">
    <div class="col-12">
        <div>
            <table class="table table-bordered">
                <thead class="bg-primary text-white">
                <tr>
                    <th>Usuario</th>
                    <th>Dispositivo</th>
                    <th>Id Detectado</th>
                    <th>Estado Mantenimeinto</th>
                    <th>Estado Dispositivo</th>
                    <th>Nombre Dispositivo</th>
                    <th><a th:href="@{/userdevices/create}" class="btn btn-success">Create</a></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="userdevice:${userdevices}">
                    <td th:text="${userdevice.usuario.nam}"></td>
                    <td th:text="${userdevice.deviceCatalog.modelo_dispositivo} +'('+${userdevice.deviceCatalog.numero_telefono}+')'"></td>
                    <td th:text="${userdevice.id_detectid}"></td>
                    <td th:text="${userdevice.estado_detectid}"></td>
                    <td th:text="${userdevice.estado_mantenimiento}"></td>
                    <td th:text="${userdevice.nombre_dispositivo}"></td>
                    <td>
                        <a th:href="@{/userdevices/edit/{code}(code=${userdevice.id})}" class="btn btn-info">&#9997;</a>
                        <a th:href="@{/userdevices/delete/{code}(code=${userdevice.id})}" class="btn btn-danger">&#9940;</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="https://getbootstrap.com/docs/5.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>