<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace=fragments::html_head"></head>
<body>
<nav th:replace=fragments::menu"></nav>
<div class="row" style="margin: 1% 5%;">
    <div class="col-12">
        <div>
            <table class="table table-bordered">
                <thead class="bg-primary text-white">
                <tr>
                    <th>Usuario</th>
                    <th>Dispositivo</th>
                    <th>Id Detectado</th>
                    <th>Estado Mantenimeinto</th>
                    <th>Estado Dispositivo</th>
                    <th>Nombre Dispositivo</th>
                    <th><a th:href="@{/userdevices/create}" class="btn btn-success">Create</a></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="userdevice:${userdevices}">
                    <td th:text="${userdevice.usuario.nam}"></td>
                    <td th:text="${userdevice.deviceCatalog.modelo_dispositivo} +'('+${userdevice.deviceCatalog.numero_telefono}+')'"></td>
                    <td th:text="${userdevice.id_detectid}"></td>
                    <td th:text="${userdevice.estado_detectid}"></td>
                    <td th:text="${userdevice.estado_mantenimiento}"></td>
                    <td th:text="${userdevice.nombre_dispositivo}"></td>
                    <td>
                        <a th:href="@{/userdevices/edit/{code}(code=${userdevice.id})}" class="btn btn-info">&#9997;</a>
                        <a th:href="@{/userdevices/delete/{code}(code=${userdevice.id})}" class="btn btn-danger">&#9940;</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="https://getbootstrap.com/docs/5.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>