<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Registro de Usuarios</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta name="theme-color" content="#7952b3">


    <style>
    
	    .forms{
        margin: 1% 15%;
      }

      .form__button{
        display: flex;
        justify-content: center;
        align-items: end;
      }

    
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

    </style>

    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/5.0/examples/offcanvas-navbar/offcanvas.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" aria-label="Main navigation">
  <div class="container-fluid">
    <a  class="navbar-brand">Mantenimiento de Usuarios</a>
    <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" aria-label="Toggle navigation"  >
      <span  class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/}">users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  th:href="@{/devices}">Catalago de Dispositivos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  th:href="@{/devices}">Dispositivos de Usuarios</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto link-light">
        <li class="nav-item" >
            <a  class="nav-link">Login</a>
        </li>
        <li class="nav-item" >
            <a  class="nav-link">Register</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="forms">
  <h3>Nuevo Dispositivo</h3>
   <form th:action="@{/users/store}" th:object="${device}" method="POST">
       <div class="row">
           <div class="col">
                 <label class="form-label">Código Dispositivo</label>
                 <input type="text" class="form-control" th:field="*{id_dispositivo}"/>
           </div>
           <div class="col">
                 <label class="form-label">Agente</label>
                 <input type="text" class="form-control" th:field="*{agente}"/>
           </div>
           <div class="col">
                <label class="form-label">Identificador</label>
                <input type="text" class="form-control" th:field="*{identificador}"/>
           </div>
           <div class="col">
              <label class="form-label">Número Teléfonico</label>
              <input type="text" class="form-control" th:field="*{numero_telefono}"/>
            </div>
       </div>
       <div class="row">
           
           <div class="col">
            <label class="form-label">Operador Teléfonico</label>
            <select class="form-control" th:field="*{operador_telefonico}">
              <option th:each="country: ${telephoneOperators}"
                      th:text="${country.name}"
                      th:value="${country}"></option>
            </select>
          </div>
           <div class="col">
             <label class="form-label">Sistema Operativo</label>
             <select class="form-control" th:field="*{sistema_operativo}">
              <option th:each="country: ${operatingSystems}"
                      th:text="${country.name}"
                      th:value="${country}"></option>
            </select>
           </div>
           <div class="col">
             <label class="form-label">Versión del Sistema</label>
             <input type="text" class="form-control" th:field="*{version_sistema}"/>
           </div>
           <div class="col">

             <label class="form-label">Módelo Dispositivo</label>
             <input type="text" class="form-control" th:field="*{modelo_dispositivo}"/>
           </div>
       </div>
       <div class="row">
           <div class="col">
             <label class="form-label">Estado Dispositivo</label>
             <input type="text" class="form-control"  th:field="*{estado_dispositivo}"/>
           </div>
           <div class="col">
            <label class="form-label">Número Imei</label>
            <input type="text" class="form-control"  th:field="*{numero_imei}"/>
          </div>
          <div class="col">
            <label class="form-label">Dirección Wifi</label>
            <input type="text" class="form-control"  th:field="*{direccion_wifi}"/>
          </div>
          <div class="col">
            <label class="form-label">Direccion Bluetooth</label>
            <input type="text" class="form-control"  th:field="*{direccion_bluetooth}"/>
          </div>
       </div>
       <div class="row">
          <div class="col">
            <label class="form-label">Número de Serie</label>
            <input type="text" class="form-control"  th:field="*{numero_serie}"/>
          </div>
          <div class="col-9  form__button">
            <button type='submit' class='btn btn-primary'>Store</button> 
          </div>
      </div>
   </form>
</div>


<script src="https://getbootstrap.com/docs/5.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>