<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace=fragments::html_head"></head>
<body>
<nav th:replace=fragments::menu"></nav>
<div class="forms">
  <h3>Edición de Dispositivos</h3>
   <form th:action="@{/devices/update/{code}(code=${device.id_dispositivo})}" th:object="${device}" method="POST">
    <div class="row">
        <div class="col">
          <input type="hidden" th:field="*{usuario_ingresa}">
              <label class="form-label">Código Dispositivo</label>
              <input type="text" class="form-control" th:field="*{id_dispositivo}"/>
        </div>
        <div class="col">
              <label class="form-label">Agente</label>
              <input type="text" class="form-control" th:field="*{agente}"/>
        </div>
        <div class="col">
             <label class="form-label">Identificador</label>
             <input type="text" class="form-control" th:field="*{identificador}"/>
        </div>
        <div class="col">
           <label class="form-label">Número Teléfonico</label>
           <input type="text" class="form-control" th:field="*{numero_telefono}"/>
         </div>
    </div>
    <div class="row">
        
        <div class="col">
         <label class="form-label">Operador Teléfonico</label>
         <select class="form-control" th:field="*{operador_telefonico}">
           <option th:each="country: ${telephoneOperators}"
                   th:text="${country.name}"
                   th:value="${country}"></option>
         </select>
       </div>
        <div class="col">
          <label class="form-label">Sistema Operativo</label>
          <select class="form-control" th:field="*{sistema_operativo}">
           <option th:each="country: ${operatingSystems}"
                   th:text="${country.name}"
                   th:value="${country}"></option>
         </select>
        </div>
        <div class="col">
          <label class="form-label">Versión del Sistema</label>
          <input type="text" class="form-control" th:field="*{version_sistema}"/>
        </div>
        <div class="col">

          <label class="form-label">Módelo Dispositivo</label>
          <input type="text" class="form-control" th:field="*{modelo_dispositivo}"/>
        </div>
    </div>
    <div class="row">
        <div class="col">
          <label class="form-label">Estado Dispositivo</label>
          <input type="text" class="form-control"  th:field="*{estado_dispositivo}"/>
        </div>
        <div class="col">
         <label class="form-label">Número Imei</label>
         <input type="text" class="form-control"  th:field="*{numero_imei}"/>
       </div>
       <div class="col">
         <label class="form-label">Dirección Wifi</label>
         <input type="text" class="form-control"  th:field="*{direccion_wifi}"/>
       </div>
       <div class="col">
         <label class="form-label">Direccion Bluetooth</label>
         <input type="text" class="form-control"  th:field="*{direccion_bluetooth}"/>
       </div>
    </div>
    <div class="row">
       <div class="col">
         <label class="form-label">Número de Serie</label>
         <input type="text" class="form-control"  th:field="*{numero_serie}"/>
       </div>
       <div class="col-9  form__button">
         <button type='submit' class='btn btn-primary'>Store</button> 
       </div>
   </div>
   </form>
</div>


<script src="https://getbootstrap.com/docs/5.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>