<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Mantemiento de Usuarios</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="https://blue.baccredomatic.com/bel-main-style.css">
    <link href="https://getbootstrap.com/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Bootstrap core CSS -->
    <script type="text/javascript" src="https://blue.baccredomatic.com/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="https://blue.baccredomatic.com/js/zebra_datepicker.min.js"></script>
    <script type="text/javascript" src="https://blue.baccredomatic.com/js/bel-main-scripts.js"></script>
    <meta name="theme-color" content="#7952b3">
</head>
<body>
  <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" aria-label="Main navigation">
    <div class="container-fluid">
      <a  class="navbar-brand">Mantenimiento de Usuarios</a>
      <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" aria-label="Toggle navigation"  >
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  th:href="@{/}">Usuarios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  th:href="@{/devices}">Catalago de Dispositivos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  th:href="@{/userdevices}">Dispositivos de Usuarios</a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto link-light">
          <li class="nav-item" >
              <a  class="nav-link">Login</a>
          </li>
          <li class="nav-item" >
              <a  class="nav-link">Register</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <br/><br/><br/>
<div class="bel-grid-row">
  <div class="bel-col-12">
    <div class="bel-card">
      <table id="idDeTabla">
                <thead class="bg-primary text-white">
                <tr>
                    <th>Identificador</th>
                    <th>Número de Telefono</th>
                    <th>Operador</th>
                    <th>Sistema Operativo</th>
                    <th>Versión Sistema</th>
                    <th>Modelo Dispositivo</th>
                    <th><a th:href="@{/devices/create}" class="btn btn-success">Create</a></th>
                </tr>
                </thead>
                <tbody>
                  <tr th:each="device:${devices}">
                      <td th:text="${device.identificador}"></td>
                      <td th:text="${device.numero_telefono}"></td>
                      <td th:text="${device.operador_telefonico}"></td>
                      <td th:text="${device.sistema_operativo}"></td>
                      <td th:text="${device.version_sistema}"></td>
                      <td th:text="${device.modelo_dispositivo}"></td>
                      <td>
                          <a th:href="@{/devices/edit/{code}(code=${device.id_dispositivo})}" class="btn btn-info">&#9997;</a>
                          <a th:href="@{/devices/delete/{code}(code=${device.id_dispositivo})}" class="btn btn-danger">&#9940;</a>
                      </td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>
<script type="text/javascript">
  $BLUEJQuery( document ).ready(function() {
    $BLUEJQuery("#idDeTabla").blueTable({
      toggleable:false,
      extensible:false,
      rowHover:true,
      maxItemsCollapsed:0, 
      extensibleLabel: "Ver más",
      collapseLabel: "Ver menos",
      tdWidth:[10, 15, 15, 15, 15, 15, 15],
      thAlign:["left", "left", "left", "center", "center", "center", "center"],
      tdAlign:["left", "left", "left", "center", "center", "center", "center"]
    });
  });
</script>
</body>
</html>