<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace=fragments::html_head"></head>
<body>
<nav th:replace=fragments::menu"></nav>
<div class="row" style="margin: 1% 5%;">
    <div class="col-12">
        <div>
            <table class="table table-bordered">
                <thead class="bg-primary text-white">
                <tr>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>País</th>
                    <th>Identificación</th>
                    <th>País Idenficación</th>
                    <th><a th:href="@{/users/create}" class="btn btn-success">Create</a></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user:${users}">
                    <td th:text="${user.usr}"></td>
                    <td th:text="${user.nam}"></td>
                    <td th:text="${user.pem}"></td>
                    <td th:text="${user.ctr}"></td>
                    <td th:text="${user.idi}"></td>
                    <td th:text="${user.idt}"></td>
                    <td>
                        <a th:href="@{/users/edit/{code}(code=${user.usr})}" class="btn btn-info">&#9997;</a>
                        <a th:href="@{/users/delete/{code}(code=${user.usr})}" class="btn btn-danger">&#9940;</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="https://getbootstrap.com/docs/5.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>